
<div class="content">
    <h1 style="text-align: center;">Task Master</h1>

    <table style="width: 100%; border: 1px solid black; border-collapse: collapse;">
        <tr>
            <th style="width: 100px;">Task</th>
            <th style="width: 100px;">Added</th>
            <th style="width: 100px;">Action</th>
        </tr>

        <tr>

            <td></td>
            <td></td>

            <td>

            <a style="width: 100px;" href="">Delete</a>
            <br>
            <a style="width: 100px;" href="">Update</a>
            
            </td>
        </tr>

    </table>
</div>   
    

